.content{
    margin-top: 10px;
}
.content h3{
    text-align: center;
    margin-top: 30px;
}
.day{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 210px;
    margin-bottom: 30px;
}
.main{
    font-size: 18px;
    text-align: center;
    line-height: 25px;
}